.row {
  color: white;
  margin-left: 20px;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__posterContainer {
  position: relative;
  margin-right: 15px;
  transition: transform 450ms;
  min-width: 250px;
}

.row__posterLargeContainer {
  min-width: 330px;
}

.row__posterContainer:hover {
  transform: scale(1.15);
  z-index: 10;
}

.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 250px;
  cursor: pointer;
  border-radius: 4px;
}

.row__posterLarge {
  max-height: 500px;
}

.row__posterInfo {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.9), transparent);
  padding: 10px;
  opacity: 0;
  transition: opacity 450ms;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.row__posterContainer:hover .row__posterInfo {
  opacity: 1;
}

.row__posterButtons {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}

.row__iconButton {
  background: rgba(42, 42, 42, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.row__iconButton:hover {
  background: rgba(255, 255, 255, 0.1);
  border-color: white;
}

.row__posterTitle {
  font-size: 12px;
  font-weight: bold;
}
